<header>
  <div><i class="fab fa-chrome fa-2x icon"></i></div>
  <div></div>
  <div><i class="fab fa-xbox fa-2x "></i></div>
</header>
<nav>
  <span>Pins</span>
  <span class="active">Home</span>
  <span>Store</span>
</nav>
<main>
  <div class="leftContainer">
    <div class="leftIconWrapper">
      <div class="smallIcon icon"></div>
      <div class="longIcon icon"></div>
    </div>
    <div class="top-icon-wrapper">
      <div class="largeIcon icon">
        <p>Titanfall Beta</p>
      </div>
      <div class="smallIcon icon">
        <span><i class="fas fa-tv fa-4x icon"></i></span>
        <p>Tv</p>
      </div>
      <div class="smallIcon icon">
        <span><i class="fas fa-trophy fa-4x icon"></i></span>
        <p>Achievements</p>
      </div>
      <div class="smallIcon icon">
        <span><i class="fas fa-shopping-bag fa-4x icon"></i></span>
        <p>Store</p>
      </div>
      <div class="smallIcon icon">
        <span><i class="far fa-envelope fa-4x icon"></i></span>
        <p>Messages</p>
      </div>
    </div>
    <div class="bottom-icon-wrapper">
      <div class="smallIcon icon">
        <span><i class="fas fa-desktop fa-4x icon"></i></span>
        <p>Snap</p>
      </div>
      <div class="smallIcon icon">
        <span><i class="fas fa-gamepad fa-4x icon"></i></span>
        <p>My games</p>
      </div>
      <div class="smallIcon icon">
        <span><i class="fas fa-compact-disc fa-4x icon"></i></span>
        <p>Insert Disc</p>
      </div>
    </div>
  </div>
  <div class="rightContainer">
    <p>Featured</p>
    <div class="thumbnail">
      <p>Watch Elder Scrolls 'Arrival'</p>
    </div>
    <div class="thumbnail">
      <p>Join the Titanfall beta</p>
    </div>
    <div class="thumbnail">
      <p>Garden Warfare coming soon</p>
    </div>
  </div>
</main>